Xft.dpi:       180
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: Catppuccin-Mocha-Pink-Cursors 
Xcursor.size: 0

*background: #161616
*foreground: #f4f4f4

! black
*color0: #393939
*color8: #525252

! red
*color1: #fa4d56
*color9: #fa4d56

! green
*color2: #42be65
*color10: #42be65

! yellow
*color3: #fddc69
*color11: #fddc69

! blue
*color4: #4589ff
*color12: #4589ff

! magenta
*color5: #ff7eb6
*color13: #ff7eb6

! cyan
*color6: #3ddbd9
*color14: #3ddbd9

! white
*color7: #e0e0e0
*color15: #c6c6c6
