#window {
	padding: 1px;
	margin: 0px;
	border: none;
	border-radius: 25px;
	background-origin: border-box;
	background-clip: content-box, border-box;
  margin-right: 200px;
  animation: hyprBorder 10s linear infinite;
  opacity: 0.85;
  color: #cdd6f4;
}

@keyframes hyprBorder {
	0% {
    	background-image: linear-gradient(#1e1e2e, #1e1e2e), linear-gradient(
    		0deg, 
    		rgba(244, 143, 177, 1),
    		rgba(161, 239, 211, 1),
    		rgba(241, 250, 140, 1),
    		rgba(146, 182, 244, 1),
    		rgba(189, 153, 255, 1),
    		rgba(135, 223, 235, 1) 
    	);
  	}
  	100% {
		background-image: linear-gradient(#1e1e2e, #1e1e2e), linear-gradient(
    	    360deg, 
    	    rgba(244, 143, 177, 1),
    	    rgba(161, 239, 211, 1),
    	    rgba(241, 250, 140, 1),
    	    rgba(146, 182, 244, 1),
    	    rgba(189, 153, 255, 1),
    	    rgba(135, 223, 235, 1) 
		);
  	}
}

#input {
  color: #cdd6f4;
  margin: 5px 5px 0;
	padding: 10px 10px 0px;
  border-color: #cdd6f4;
  border: none;
  border-bottom: 1px solid;
	border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

#entry {
	border-radius: 20px;
	margin: 5px;
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 10px;
	border-style: none;
	transition: .1s ease-in-out;
}

#entry:focus {
	border-style: none;
	outline: none;
	/* background-color: #44475a; */
	background: transparent;
	margin-left: 50px;
}

#entry:selected {
	background: transparent;
	margin-left: 50px;
}

#text {
  color: #cdd6f4;
	background: transparent;
	margin: 5px;
}

#img {
	background: transparent;
}

#inner-box {
	border: none;
	outline: none;
}

#scroll {
	border: none;
	outline: none;
}
