#waybar {
  /*background: rgba(17, 17, 27, 0.7);
  color: #cdd6f4;*/ 
  background: rgba(22, 22, 22, 0.8);
  color: #ffffff;

  /*font-family: "FiraCode Nerd Font";*/
  font-family: "Iosevka, Symbols Nerd Font";
  text-shadow: 0 0 0px black;
  border-radius: 0px;
}

#clock {

  font-family: "Iosevka";
	font-size: 18px;
	margin: 12px 0px 8px 0px;
}

#custom-sep {
  font-family: "Iosevka";
  margin: 0;
  padding: 0px 0px 2 3px;
  font-size: 15px;
  font-weight: 400;
}

#workspaces {
  margin: 0;
  padding: 0px;
  font-size: 16px;
  text-shadow: 0 0 0px black;
}

#workspaces button {
  margin: 0px 0px 0px 3px;
  text-shadow: 0 0 0px black;
  color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  background: transparent;
  border: transparent;
}

#workspaces button.urgent {
  color: #ffb86c;
}

#workspaces button.active label {
  box-shadow: 0 0 0px black; 
  font-size: 14px; 
  padding: 0px 2px;
  margin: 3px 1px 3px 0;
  background-image: linear-gradient(
    135deg, 
    #fa4d56,
    #ff832b,
    #fddc69,
    #42be65,
    #4589ff,
    #be95ff,
    #ff7eb6,
    #fa4d56,
    #ff7eb6,
    #be95ff,
    #4589ff,
    #42be65,
    #fddc69,
    #ff832b,
    #fa4d56
  );
  background-size: 800% 800%;
  animation: active 120s linear infinite;
  transition: ease-in-out;
  border-radius: 50%;
}

@keyframes active {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 800% 800%;
	}
}

#cava {
  font-size: 7px;
  margin: 0px 0px 0px 0px;
  padding-right: 31px;
  border-radius: 12px;
}

#tray {
  margin: 8px 0px 6px 0px;
  opacity: 0.80;
}

#tray > widget > image {
  margin: 8px 0 8px 0;
}

#pulseaudio {
  margin: 8px 0px 8px 3px;
  font-size: 22px;
}

#backlight {
  margin: 4px 0 4px 1px;
  font-size: 22px;
}

#bluetooth {
  margin: 8px 0px 8px 2px;
  font-size: 22px;
}

#network {
  margin: 8px 0px 8px 6px;
  font-size: 18px;
}

#battery {
 margin: 8px 0px 8px 2px; 
 font-size: 22px;
}

#custom-ram {
  margin: 4px 0 12px 0;
  font-size: 9px;
}

#custom-cpu {
  margin: 0px 0 0px 0;
  font-size: 9px;
}

