#waybar {
  background: rgba(17, 17, 27, 0.87);
  color: #cdd6f4;
  font-family: "FiraCode Nerd Font";
  text-shadow: 0 0 0px black;
  border-radius: 12px;
}

#clock {
	font-size: 18px;
	margin: 12px 0px 8px 2px;
}

#custom-sep {
	margin: 8px 0px 8px 2px;
  font-size: 26px;
  font-weight: 100;
}

#workspaces {
  margin: 0;
  margin-left: 2px;
  padding: 2px 2px 2px 2px;
 	border-radius: 50px;
 	font-size: 15px;
 	text-shadow: 0 0 0px black;
}

#workspaces button {
	padding: 9px 0px 9px 0px;
	text-shadow: 0 0 0px black;
  color: #cdd6f4;
}

#workspaces button:hover {
	box-shadow: inherit;
	background: transparent;
	border: transparent;
	transition: none;
}

#workspaces button.urgent {
	color: #ffb86c;
}

#workspaces button.active {
	padding: 0px;
}

#workspaces button.active label {
	box-shadow: 0 0 0px black; 
	font-size: 14px;
	margin: 12px 0 12px 0;
	background-image: linear-gradient(
	  135deg, 
	  #F38BA8,
	 	#A6E3A1,
   	#F9E2AF,
	  #89B4FA,
	 	#F5C2E7,
   	#94E2D5,
	  #F38BA8,
	 	#94E2D5,
   	#F5C2E7,
	  #89B4FA,
	 	#F9E2AF,
   	#A6E3A1,
	 	#F38BA8
	);
	background-size: 800% 800%;
	animation: active 120s linear infinite;
	border-radius: 50%;
}

@keyframes active {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 800% 800%;
	}
}

#tray {
  margin: 8px 0px 9px 2px;
  opacity: 0.80;
}

#pulseaudio {
  margin: 8px 0px 3px 0;
  font-size: 20px;
}

#backlight {
  margin: 5px 0 5px 1px;
  font-size: 20px;
}

#network {
  margin: 8px 0px 8px 7px;
  font-size: 18px;
}

#bluetooth {
  margin: 8px 0px 8px 2px;
  font-size: 22px;
}

#battery {
 margin: 8px 0px 16px 2; 
 font-size: 20px;
}
