[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[init]
	defaultBranch = main
[user]
	email = self@ossian.dev
	name = ozwaldorf
[core]
	editor = micro
