@import "dracula.rasi"
configuration {
  show-icons:         true;
  terminal:           "/usr/bin/kitty";
  cycle:              true;
  hide-scrollbar:     false;
  disable-history:    false;
  font:               "FiraMono Nerd Font 14";
}
